.request-management-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.calendar-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.request-sections-vertical {
    display: flex;
    flex-direction: column; /* 세로로 구분 */
    padding: 20px;
    gap: 20px;
}

.apply-section, .scout-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    text-align: center; /* 중앙 정렬 */
}