.request-management-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: auto; /* 전체 페이지에 스크롤 추가 */
}

.calendar-section {
    flex: 1; /* 화면 비율에 맞춰 자동으로 크기 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.request-sections {
    display: flex;
    flex: 1; /* 화면 비율에 맞춰 자동으로 크기 조정 */
}

.apply-section, .scout-section {
    flex: 1;
    padding: 20px;
}

.apply-section {
    border-right: 1px solid #ddd;
}